.mainContainer {
  height: 100vh;
  width: 100vw;
  background-image: url("./assets/svg/background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f5f7f9;

  display: grid;
  grid-template-rows: 150px 1fr;
  grid-template-columns: 150px 1fr;
}

@media only screen and (max-width: 767px) {
  /* CSS rules for mobile devices */
}
