.todoGrid {
  grid-column: 2;

  display: grid;
  grid-template-columns: 350px 350px;
  gap: 2rem;
  overflow: auto;
}

.todoTab {
  background-color: white;
  padding: 1.5rem 1.5rem;
  border-radius: 24px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);

  height: min-content;

  display: flex;
  flex-direction: column;
}

.todoH3 {
  font-size: 16px;
  font-weight: 600;
  margin-top: 0;
}

.todoFlex {
  display: flex;
  flex-direction: column;
  border: 2px solid #dbdbdb;
  border-radius: 0.5rem;
  padding: 0.5rem;
  gap: 5px;
}
