.todoGrid {
  grid-column: 2;

  display: grid;
  grid-template-columns: 350px 350px;
  gap: 2rem;
  overflow: auto;
}

.todoTab,
.modalSection {
  background-color: white;
  padding: 1.5rem 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  height: min-content;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todoH4 {
  font-size: 16px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

.todoFlex {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.todoEl {
  border: 2px solid #dbdbdb;
  border-radius: 0.3rem;
  padding: 0.5rem;
  gap: 5px;
}

.newTodo {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  background-color: white;
  color: #b1b1b1;
  border-style: none;
  border: 2px solid #dbdbdb;
  border-radius: 0.3rem;
  padding: 0.5rem;

  cursor: pointer;
}

.textNewTodo {
  margin: 0;
}

/* Modal */

.modalSection {
  width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.modalDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeDiv {
  display: flex;
  color: #b1b1b1;
  background: white;
  border-style: none;
  border: 2px solid #dbdbdb;
  border-radius: 0.3rem;
  padding: 0.1rem;
  cursor: pointer;
}

.modalOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.hidden {
  display: none;
}

.formDiv {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.todoForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.priorSet {
  display: flex;
  gap: 1rem;
}

.priorFlex {
  display: flex;
  gap: 0.25rem;
}

.submitForm {
  background-color: #0258ff;
  color: white;
  border-style: none;
  border-radius: 0.3rem;
  padding: 0.5rem;
  cursor: pointer;
}

.submitForm:hover {
  background-color: #024fe9;
}
