.logoDiv {
  display: flex;
  justify-content: center;
  align-items: center;

  grid-column: 1;
  padding: 2rem 0;
}

.header {
  grid-column: 2;
  padding: 2rem 0;
}

.projectDiv {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  position: relative;
  gap: 1rem;

  height: min-content;

  background-color: white;
  padding: 1rem 1.5rem;
  border-radius: 24px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.projectFlex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.divButtonTitle {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.projectTitle {
  margin: 0;
  text-transform: capitalize;
  font-size: 20px;
}

.projectButton {
  background-color: #0258ff;
  color: #ffffff;
  border-radius: 0.5rem;
  border: 2px solid #0258ff;
  padding: 3px 8px;
  cursor: pointer;

  display: inline-flex;
  text-align: center;
  align-items: center;
}

.categoryFlex {
  display: none;
  gap: 1rem;
}

.newCatButton {
  display: none;

  background-color: transparent;
  border: 2px solid #c7c7c7;
  color: #8a8a8a;
  border-radius: 0.5rem;
  padding: 3px 8px;
}

.newCatButton:hover {
  cursor: pointer;
  background-color: #0258ff;
  color: white;
  border: 2px solid white;
}

.ulTitles {
  display: none;
  align-items: center;
  gap: 0.5rem;

  background-color: white;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.liTitles {
  border: 2px solid #c7c7c7;
  color: #8a8a8a;
  border-radius: 0.5rem;
  padding: 3px 20px;
  text-transform: capitalize;
}

.liTitles:hover {
  cursor: pointer;
  background-color: #0258ff;
  color: white;
  border-color: white;
}

.activeLi {
  background-color: #0258ff;
  color: white;
  border-color: white;
}

.inactiveLi {
  background-color: darkgrey;
}

.inactiveLi:hover {
  cursor: not-allowed;
}

.show {
  display: inline-flex;
}

.alwaysShow {
  display: inline-flex;
}

.svgHeader {
  width: 20px;
  height: 20px;
  stroke-width: 1.5;
}

@media only screen and (max-width: 767px) {
  .logoDiv {
    display: none;
  }

  .header {
    grid-column: 1 / 3;
    padding: 25px;
    overflow: auto;
    display: flex;
  }
}
