.logoDiv {
  display: flex;
  justify-content: center;
  align-items: center;

  grid-column: 1;
  padding: 2rem 0;
}

.header {
  grid-column: 2;
  padding: 2rem 0;
}

.projectDiv {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
}

.project {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
  position: relative;

  background-color: white;
  padding: 1rem 1.5rem;
  border-radius: 24px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.projectTitle {
  margin: 0;
  text-transform: capitalize;
}

.projectButton {
  background-color: #0258ff;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  border-radius: 0.5rem;
  border-style: none;

  display: inline-flex;
  text-align: center;
  align-items: center;
}

.ulTitles {
  visibility: visible;
  position: static;
  top: 30px;
  background-color: white;
  margin: 0;
}

.show {
  visibility: visible;
}

.projectButton:hover {
  background-color: #1e40af;
}

.svgHeader {
  width: 1rem;
  height: 1rem;
}
